<!DOCTYPE html>
<html ng-app="ngMinesweeper">
<head>
	<title>Minesweeper - Angular.js</title>
	<link rel="stylesheet" type="text/css" href="./styles/styles.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-controller="MainCtrl as ctrl">
	<div class="wrapper">
		<div>Mine count: {{ctrl.state.flagsLeft}}</div>
		<div class="game-board">
			<div class="row" ng-repeat="row in ctrl.state.board">
				<div class="cell" ng-repeat="cell in row">
					<div ng-if="cell.opened" class="opened">
						<i ng-class="{'fa fa-bomb': cell.isMine}"></i>
						<span>{{cell.nearMines}}</span>
					</div>
					<div ng-if="!cell.opened" ng-class="{'correct': ctrl.state.gameOver && cell.hasFlag && cell.isMine}"class="closed" ng-mousedown="cell.hasFlag || ctrl.openCell($parent.$parent.$index, $index, $event)" oncontextmenu="return false">
						<i ng-class="{'fa fa-question': cell.hasFlag}"></i>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="ctrl.state.gameOver" class="gameOver">Game Finished!</div>
		<input type="button" ng-click="ctrl.resetGame()" value="New Game">
		<input type="number" ng-model="ctrl.state.boardColumns" min="3" placeholder="Game Columns">
		<input type="number" ng-model="ctrl.state.boardRows" min="3" placeholder="Game Rows">
		<input type="number" ng-model="ctrl.state.mines" max="{{ctrl.maxNumberOfMines}}" placeholder="Game Mines">
	</div>
</body>
<script src="./node_modules/lodash/lodash.js"></script>
<script src="./node_modules/angular/angular.js"></script>
<script src="./app.js"></script>
<script src="./services/lodash.js"></script>
<script src="./controllers/main.js"></script>
</html>