* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  margin: 50px;
}

.game-board {
  margin: 20px 0;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  display: inline-block;
}

.cell {
  display: inline-block;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  vertical-align: top;
}

.opened {
  width: 100%;
  height: 100%;
}

.closed {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  cursor: pointer;
}
